



.target__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 50px auto;
}

.target__img{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: 50px;
    max-width:450px;
    max-height:450px;
    transition: all 0.2s linear;
}

.target__title{
    font-size: 48px;
    text-align: left;
}

.target__right__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.target__right__column > p{
    text-align: left;
    line-height: 24px;
}

.target__detail{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.target__creator{
    font-size: 24px;
    border-bottom: 20px;
    margin-bottom: 8px;
}

.target__progress{
    font-size: 24px;
}

.target__status{
    font-size: 24px;
}

.target__status__color{
    color: green;
}